.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 32px;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.row_image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
  }
}

.content{
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 24px;
}

/* Mobile */
@media (max-width: 700px) {
  .row{
    flex-direction: column;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}