.block_quote{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

    h2{
        font-size: 32px;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-align: justify;
    }
}