.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    padding: 32px;
    margin-top: auto;
    border-top: 1px solid rgba(39, 36, 27, 0.5);
}